

<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Sitio en construcción</div>
    <p class="text-gray-700 text-base">
     Proximamente estaremos en línea segunda modificacion desde github v3
    </p>
  </div>
