

<div class="rounded-4xl overflow-hidden shadow-xl">
  <div class="p-16">
    <div class="font-bold mb-2 text-6xl text-blue-950">Sitio en construcción</div>
    <p class=" text-lg text-sky-400">
      Estamos trabajando para ofrecerte una mejor experiencia. <br>
      <span class="text-2xl text-blue-950">¡Pronto estaremos en línea!</span>
    </p>
  </div>
