<div id="<%= dom_id user_role %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_role.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user_role.role_id %>
  </div>
</div>
