<div id="<%= dom_id identification %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= identification.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Identification type:</strong>
    <%= identification.identification_type_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Number:</strong>
    <%= identification.number %>
  </div>
</div>
