<div id="<%= dom_id operation %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= operation.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= operation.description %>
  </div>
</div>
